<div class="interests quicksand">
  <div class="wrapper">
    <div class="title">
      <h2 class="regular">Intérêts</h2>
      <hr/>
    </div>
    <div class="row">
      <div class="col-sm-4 interest-item text-right">
        <p><b>Sports</b></p>
        <p>Football</p>
        <p>Tennis</p>
        <p>Squash</p>
        <p>Formule 1</p>
      </div>
      <div class="col-sm-4 interest-item text-center">
        <p><b>Sciences & Technologies</b></p>
        <p>Astronomie</p>
        <p>Intelligence Artificielle</p>
        <p>Psychologie</p>
        <p>Réalité Augmentée</p>
      </div>
      <div class="col-sm-4 interest-item">
        <p><b>Loisirs</b></p>
        <p>Photographie</p>
        <p>Musique : MAO - Synthétiseur</p>
      </div>
    </div>
  </div>
  <a href="./../../assets/documents/CV-matthieu-beauvin.pdf" download [ngClass]="bottom == true ? 'bottom download-icon' : 'download-icon'" class="download-icon">&#10515;</a>
</div>