.skill{
    height: 100px;
    line-height: 100px;
}
.skill .logo-container{
    width: 100px;
    vertical-align: middle;
    display: inline-block;
}
.skill .logo-container .logo{
    max-width: 100%
}
.tooltip-host{
    display: inline-flex;
    align-items: center;
    margin: 50px;
}

.example-tooltip-host {
    display: inline-flex;
    align-items: center;
    margin: 50px;
}

.example-select {
    margin: 0 10px;
}
@media screen and (max-width: 768px){
    .skill{
        height: auto;
    }
    .skill .logo-container{
        width: 100%;
        display: block;
        position: relative;
    }
    .skill .logo-container img.logo{
        display: block;
        position: relative;
        margin: 0 auto;
        max-width: 100px;
    }
    app-range-slider{
        line-height:  1;
        height: auto;
        display:  block;
        text-align: center;
    }
}
